{% extends "templates/base.html" %}
{% block content %} 

<p>Welcome!</p>
<p>I like Taeyeon. This is an assignment for SI539</p>

<object type="application/x-shockwave-flash" style="width:480px; height:270px;" data="//www.youtube.com/v/eHir_vB1RUI?color2=FBE9EC&amp;version=3">
        <param name="movie" value="//www.youtube.com/v/eHir_vB1RUI?color2=FBE9EC&amp;version=3" />
        <param name="allowFullScreen" value="true" />
        <param name="allowscriptaccess" value="always" />
</object>

<p hidden>Credit to Stack Overflow for the valid Youtube embed code: https://stackoverflow.com/revisions/10062779/3</p>

{%endblock%}